<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>

<IfModule mod_expires.c>
  <FilesMatch "\.(html)$">
    ExpiresActive On
    ExpiresDefault "access plus 1 second"
    Header set Cache-Control "max-age=1, private, must-revalidate"
  </FilesMatch>

  <FilesMatch "\.(js|css)$">
    ExpiresActive On
    ExpiresDefault "access plus 1 month"
	Header set Cache-Control "max-age=7600"
  </FilesMatch>
</IfModule>